h5{
    color: aqua;
}

h2{
    font-size:large
}

#welcome{
color:blueviolet
}

.text{
    color:chocolate
}

a.text{
    color:cornflowerblue
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5,a{
    font-family: 'Times New Roman', Times, serif;
}

#para{
    color: crimson;
}