h1{

    /* margin:50px 20px 10px 22px; */
    /* margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 44px;
    margin-right: 33px; */
    /* margin: inherit; */
    /* width: 200px; */
    /* min-width: 20px;
    min-height: 20px;
    max-width: 50px;
    max-height: 200px; */
    border: 2px solid;
    /* height: 190px;  */
       /*px recommeded */
    /* width: 100%; */
    /* padding: 10px; */
}
/* 
body{
    margin:50px;
} */

p{    /*text formatting*/
    color:blueviolet;
    background-color: beige;
    text-align: justify;
    /* text-decoration: underline; */
    text-decoration-line: overline;
    text-decoration-color:red ;
    text-transform: capitalize;
    text-shadow: 5px 5px 5px red;
    line-height: 20px;
    word-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: normal;
    font-variant: normal;
    font-size:medium;  /*1 em = 16px*/
}

a{
    text-decoration: none;
}